.container{
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.logo{
    font-size: 70px;
    font-weight: bold;
    
}

.links{
    display: flex;
    align-items: center;
    gap: 10px;
}